<p style="color: green"><%= notice %></p>

<h1>Tours</h1>

<div id="tours">
  <% @tours.each do |tour| %>
    <%= render tour %>
    <p>
      <%= link_to "Show this tour", tour %>
    </p>
  <% end %>
</div>

<%= link_to "New tour", new_tour_path %>
